*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li,a,button{
    font-family: '''Montserrat''',sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
}

header img
{
  width: 75px;
  height: 75px;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #008a;
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all  0.3s ease 0s;

}

.row{
    background-color: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px green;
}

img-fluid{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    justify-content: center;
}

.btn1{
    border: none;
    overflow: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover{
    background: white;
    border: 1px solid black;
}